*{
    margin: 0;
    padding: 0;
    border:0;
}

/* Home */
body{
    background-color: #adada6;
}
h1{
    font-size:8em;
}
   
}
#logo{
    padding: 1.875em 1.875em;
    float: left;
    width: 100%;
    position: absolute;
    min-height:11em;
    margin-top:1.875em;

}
#menubar{
    font-size: 110%;
    list-style-type: none;
   padding-bottom: 6.25em;
    
}
#menubar li{
    float:right;
    letter-spacing: 0.19em;
    padding-left: 3.125em;
    
}
#menubar a{
    color: black;
    margin-bottom: 4.38em;
}
#menubar a:hover{
    border-bottom: 0.19em;
    color:#fafafa;
}
.active{
    border-bottom: 0.19em;
    color:#fafafa;
}
.concept{
    font-size: 1.25em;
    color:#fafafa;
    background-color: #312a07b9;
    text-align: center;
    margin-left: 3.12em;
    margin-right: 3.12em;
}

#hero-img p::first-line{
    font-size: 2em;
}
#hero-img{
    background-image: url('../images/traveler.jpeg');
    background-repeat: no-repeat;
    min-height: 31.25em;
    background-size: cover;
   
}
.container{
    width: 70%;
    overflow: hidden;
    margin: auto;
}

#boxes{
margin-top: 1.875em;

}
#boxes h2{
   padding-left:18.75em;
   padding-top:0.625em;
}
#boxes .box{
    width:100%;
    float: left;
    padding-right: 2.5em;
    padding-left:1.875em;
    padding-top: 1.25em;
    text-align: left;
    letter-spacing: 0.0625em;
    
}
#boxes p{
    font-size: 0.1em;
}
footer{
    height:12.5em;
    padding-top: 5em;
    background-color: #312a07b9;
}
.social-media{
    text-align: center;
    margin-top: 1.875em;
    letter-spacing: 1.875em;
}
.social-media li{
    display: inline;
}
.social-media i{
    font-size: 3.1em;
    color: black;
}
/* aboout menu */
#menu-img{
    background-image: url('../images/aboutmenu.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 43.75em;
}
/* here weekly events calendar*/
#events-img{
    background-image: url('../images/events.jpeg');
    height:31.25em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* contact */
#contact{
    background-color: #312a07b9;
    height:37.5em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-form{
    background: transparent;
    width: 80%;
    color: #fafafa;
    font-size: 1.25em;
    height: 6.25em;
   
}
::placeholder{
    color: #fafafa;
}
.address{
   padding-bottom:0.625em;
   margin-top:0.625em;
   margin-left: 2.5em;
}
.button{
    font-size: 1.6em;
    background-color: #0e0c06b9;
    color: #fafafa;
}
