
@import url("https://fonts.googleapis.com/css2?family=Commissioner&family=Permanent+Marker&display=swap");

*{
    margin: 0;
    padding: 0;
    border:0;
}   
body {
        font-family: "Commissioner", sans-serif;
      }
header {
        font-family: "Permanent Marker", cursive;
      }

#menubar {
        font-family: "Commissioner", sans-serif;
      }
h2 {
        font-family: "Permanent Marker", cursive;
      }
h3 {
        font-family: "Permanent Marker", cursive;
      }

/* Home */
body{
    background-color: #adada6;
}
h1{
    font-size:5em;
}
#logo{
    padding: 1.875em 1.875em;
    float: left;
    width: 100%;
    position: absolute;
    min-height:11em;
    margin-top:1.875em;
    
}
#menubar{
    font-size: 110%;
    list-style-type: none;
   padding-bottom: 6.25em;
    
}
#menubar li{
    float:right;
    letter-spacing: 0.19em;
    padding-left: 3.125em;
    
    
}
#menubar a{
    color: black;
    margin-bottom: 4.38em;
    
    
}
#menubar a:hover{
    border-bottom: 0.19em;
    color:#fafafa;
    text-decoration: none;
    
}
.active{
    border-bottom: 0.19em;
    color:#fafafa;
}
.concept{
    font-size: 1.25em;
    color:#fafafa;
    background-color: #312a07b9;
    text-align: center;
    width: 100%;
}
.concept h3{
    font-family: "Commissioner", sans-serif;
    padding-top: 30px;
    
}
#hero-img{
    background-image: url('../images/kafe.jpeg');
    background-repeat: no-repeat;
    height:31.25em;
    background-size: cover;
    width: 100%;
   
}
.container{
    width: 100%;
    overflow: hidden;
    margin: auto;
}

#boxes{
margin-top: 1.875em;

}
#boxes h2{
   text-align: center;
}
#boxes .box{
    width:100%;
    float: left;
    padding-right: 2.5em;
    padding-left:1.875em;
    padding-top: 1.25em;
    text-align: left;
    letter-spacing: 0.0625em;
    
}
#boxes p{
    font-size: 0.1em;
}
footer{
    height:30%;
    padding-top: 5em;
    background-color: #312a07b9;
    background-position:center;
    width: 100%;
}

.social-media{
    text-align: center;
    letter-spacing: 2em;
    padding-top: 30px;
    padding-bottom: 20px;

}
.social-media li{
    display: inline;
    padding-bottom: 30px;
    
}
.social-media i{
    font-size: 4.1em;
    color:#fafafa;
}
/* aboout menu */
#menu-img{
    background-image: url('../images/aboutmenu.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 43.75em;
}
/* here weekly events calendar*/
#events-img{
    background-image: url('../images/events.jpeg');
    height:31.25em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* contact */
#contact{
    background-color: #312a07b9;
    height:37.5em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-form{
    background: transparent;
    width: 80%;
    color: #fafafa;
    font-size: 1.25em;
    height: 6.25em;
   
}
::placeholder{
    color: #fafafa;
}
.address{
   letter-spacing: 1px;
   color: #fafafa;
}
.button{
    font-size: 1.6em;
    background-color: #0e0c06b9;
    color: #fafafa;
    
}
@media only screen and (max-width:768px){
    h1{
    font-size:2em;
}
    h2{
    font-size: 1.2em;
    }

    p{
        font-size: 0.9em;
        padding:3px;
        
    }
    .concept{
        text-align: left;
        margin-left: 0.12em;
        margin-right: 0.12em;
        
    }
    #menubar{
        font-size: 80%;
    }
    #menu-img{
    
    max-height: 40em;
    }
    .disable{
        display: none;
    }
    #hero-img{
        background-position: center;
        background-size: cover;

    }
    form{
        text-align: center;
    }

}
@media(max-width:480px){
    h3{
        font-size: 1.2em;
    }
    h2{
        font-size: 0.9em
    }
    p{
        font-size: 0.9em;
    }
    .device{
        display:none;
    }
    

}